/* 分组选择器： 公用同一套样式 符号是一个逗号隔开
body{width: 100%;height: 100%;}
html{width: 100%;height: 100%;}
.swiper-container{width: 100%;height: 100%;}
*/
body,html,.swiper-container,.main{width: 100%;height:100%;overflow: hidden}
html{font-size: 100px;}

/*把所有运动元素隐藏起来 opacity：0*/
.page1 .text,.page1 .text .text01,.page1 .text .text02,.page1 .text .text03,.page1 .text .text04,.page1 .tuzhang,.page2 .text1 span,.page2 .text2 span,.page3 .bg,.page3 .circle,.page3 .text,.page3 .people div,.page3 .btns{opacity:0}

/*箭头*/
.arrow{z-index:99;position:absolute;bottom:.2rem;left:50%;margin-left:-.425rem;width:.85rem;height: .83rem;background:url("../images/arrow.png") no-repeat;background-size: cover;-webkit-animation: fadeInUp 1s .2s infinite ease both;
    animation: fadeInUp 1s .2s infinite ease both;}
/*音乐*/
.music{z-index:100;position:absolute;top:.2rem;left:.2rem;width:.6rem;height:.6rem;background: url("../audio/music.svg") no-repeat;background-size:100% 100%}
.music audio {
    display: none;
}
/*音乐动画*/
.music {
    -webkit-animation: musicMove 1s linear 0s infinite both;
    animation: musicMove 1s linear 0s infinite both;
}
@-webkit-keyframes musicMove {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes musicMove {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
/* 第一屏*/
.page1{background:url("../images/page1/bg1.jpg") no-repeat;background-size: 100% 100%;}
.page1 .text{position:absolute;top:.65rem;right:.65rem;background:url("../images/page1/textBg.png") no-repeat;width: 2.05rem;height: 5.39rem;background-size: cover;padding-top: .6rem}
.page1 .text div{width:1.38rem;margin:0 auto}
.page1 .text .text01{height: 1.3rem;background:url("../images/page1/text01.png") no-repeat;background-size: cover;}
.page1 .text .text02{height: 1.1rem;background:url("../images/page1/text02.png") no-repeat;background-size: cover;}
.page1 .text .text03{height: 1.08rem;background:url("../images/page1/text03.png") no-repeat;background-size: cover;}
.page1 .text .text04{height: 1.2rem;background:url("../images/page1/text04.png") no-repeat;background-size: cover;}
.page1 .tuzhang{position:absolute;top:7rem;right:1.2rem;background:url("../images/page1/tuzhang.png") no-repeat;background-size: cover;width:1.32rem;height: 1.35rem;}
/* 第一屏元素动画*/
#page1 .text{-webkit-animation: fadeIn 1s ease 1s both;animation: fadeIn 1s ease .2s both;}
#page1 .text .text01{-webkit-animation: fadeIn 1s ease .2s both;animation: fadeIn 1s ease .2s both}
#page1 .text .text02{-webkit-animation: fadeIn 1s ease .6s both;animation: fadeIn 1s ease .6s both}
#page1 .text .text03{-webkit-animation: fadeIn 1s ease 1s both;animation: fadeIn 1s ease 1s both}
#page1 .text .text04{-webkit-animation: fadeIn 1s ease 1.4s both;animation: fadeIn 1s ease 1.4s both}
#page1 .tuzhang{-webkit-animation: tada 1s ease 1.8s both;animation: tada 1s ease 1.8s both}
/* 第二屏*/
.page2{background:url("../images/page2/bg1.png") no-repeat;background-size: 100% 100%;}
.page2 .bg{width:100%; height:100%;background:url("../images/page2/bg2.png") no-repeat;background-size: 100% 100%}
.page2 .text1{position:absolute;top:1.2rem;right:.8rem;}
.page2 span{float:right;}
.page2 .text1 span{width: .56rem;height: 2.83rem;margin-left:.06rem}
.page2 .text1 span:nth-child(1){background:url("../images/page2/text01.png") no-repeat;background-size: cover}
.page2 .text1 span:nth-child(2){background:url("../images/page2/text02.png") no-repeat;background-size: cover}
.page2 .text2{position: absolute;top:1.2rem;right:2.5rem;}
.page2 .text2 span{width: .36rem;height: 5.78rem;margin-left: .35rem;}
.page2 .text2 span:nth-child(1){background:url("../images/page2/text03.png") no-repeat;background-size: cover}
.page2 .text2 span:nth-child(2){background:url("../images/page2/text04.png") no-repeat;background-size: cover}
.page2 .text2 span:nth-child(3){background:url("../images/page2/text05.png") no-repeat;background-size: cover}
.page2 .text2 span:nth-child(4){background:url("../images/page2/text06.png") no-repeat;background-size: cover}
.page2 .knife{z-index:9;position: absolute;bottom:1rem;left:.8rem;width:2.4rem;height:1.25rem;background:url("../images/page2/knife.png") no-repeat;background-size: cover}
.page2 .hand{position: absolute;bottom:.5rem;left:.5rem;width:2.08rem;height:2.44rem;background:url("../images/page2/hand.png") no-repeat;background-size: cover}
/* 第二屏元素动画*/
#page2 span{opacity: 0;}
#page2 .text1 span:nth-child(1){-webkit-animation: bounceInRight 1s ease 1s both;animation: bounceInRight 1s ease 1s both}
#page2 .text1 span:nth-child(2){-webkit-animation: bounceInRight 1s ease 2s both;animation: bounceInRight 1s ease 2s both}
#page2 .text2 span:nth-child(1){-webkit-animation: bounceInRight 1s ease 3s both;animation: bounceInDown 1s ease 3s both}
#page2 .text2 span:nth-child(2){-webkit-animation: bounceInRight 1s ease 4s both;animation: bounceInDown 1s ease 4s both}
#page2 .text2 span:nth-child(3){-webkit-animation: bounceInRight 1s ease 5s both;animation: bounceInDown 1s ease 5s both}
#page2 .text2 span:nth-child(4){-webkit-animation: bounceInRight 1s ease 6s both;animation: bounceInDown 1s ease 6s both}
#page2 .hand{-webkit-animation: fadeIn 1s ease .4s both;animation: fadeIn 1s ease .4s both}
#page2 .knife{-webkit-animation:knife 2s ease .6s infinite  both ;animation:knife 2s ease .6s infinite  both ;}

@-webkit-keyframes knife{
    0%,100%{transform:rotate(0deg)}
    50%{transform:rotate(15deg)}
}
@keyframes knife{
0%,100%{transform:rotate(0deg)}
50%{transform:rotate(15deg)}
}

/* 第三屏*/
.page3{background:url("../images/page3/bg1.png") no-repeat;background-size: 100% 100%;}
.page3 .bg{width:100%; height:100%;background:url("../images/page3/bg2.png") no-repeat;background-size: 100% 100%}
.page3 .circle{position: absolute;top:1.5rem;left:50%;margin-left: -2.78rem;width:5.56rem;height:5.74rem;background:url("../images/page3/circle.png") no-repeat;background-size: cover}
.page3 .text{z-index:9;position: absolute;top:2.5rem;left:50%;margin-left: -1.725rem;width:3.45rem;height:3.45rem;background:url("../images/page3/text.png") no-repeat;background-size: cover}
.page3 .people{position:absolute;top:1.5rem;left:50%;margin-left:-1.725rem;width:3.45rem;height:.3rem;}
.page3 .people div{position: absolute;width: 1.8rem;height: 3rem;}
.renwu01{top:0;right:0;background: url("../images/page3/renwu01.png") no-repeat;background-size: cover}
.renwu02{top:-.6rem;left:50%;margin-left:-.9rem;background: url("../images/page3/renwu02.png") no-repeat;background-size: cover}
.renwu03{top:0;left:0;background: url("../images/page3/renwu03.png") no-repeat;background-size: cover}
.renwu04{top:0;left:50%;margin-left:-.9rem;background: url("../images/page3/renwu04.png") no-repeat;background-size: cover}
.page3 .btns{position:absolute;bottom:.6rem;left:50%;margin-left:-2.51rem;
    width: 5.02rem;height:1.8rem;background: url("../images/page3/btns.png") no-repeat;background-size: cover}

/* 第三屏元素动画*/
#page3 .circle{-webkit-animation: rotate .6s  1s ease both ;animation: rotate .6s  1s ease both}
#page3 .text{-webkit-animation: fadeIn 1s  1.4s ease both ;animation: fadeIn 1s  1.4s ease both}
#page3 .renwu01{-webkit-animation: bounceInDown 1s 2s ease both ;animation: bounceInDown 1s  2s ease both}
#page3 .renwu02{-webkit-animation: bounceInDown 1s 3s ease both ;animation: bounceInDown 1s  3s ease both}
#page3 .renwu03{-webkit-animation: bounceInDown 1s 4s ease both ;animation: bounceInDown 1s  4s ease both}
#page3 .renwu04{-webkit-animation: bounceInDown 1s 5s ease both ;animation: bounceInDown 1s  5s ease both}
#page3 .btns{-webkit-animation: fadeIn 1s  1s ease both ;animation: fadeIn 1s  1s ease both}

@-webkit-keyframes rotate {
    0%{transform: rotate(0deg)}
    100%{opacity:1;transform: rotate(360deg)}
}
@keyframes rotate {
    0%{transform: rotate(0deg)}
    100%{opacity:1;transform: rotate(360deg)}
}